<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1><%=farm.name %></h1>
    <h2>Add a Product</h2>
    <form action="/farms/<%=farm.id%>/products" method="POST">
      <label for="name">Product Name:</label>
      <input type="text" name="name" id="name" placeholder="Product name" />
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" placeholder="Price" />
      <label for="Category">Category: </label>
      <select name="category" id="Category">
        <%for(let category of categories){ %>
        <option value="<%=category%>"><%=category%></option>
        <% } %>
      </select>
      <button>Add Product</button>
    </form>
    <button><a href="/farms/<%=farm.id%>">Back to Farm</a></button>
  </body>
</html>
